<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Parisienne&family=Satisfy&family=Kaushan+Script&family=Pacifico&display=swap" rel="stylesheet">
    <title>Shopping Bag: American Boutique</title>

    <link href="../static/css/MainStyles.css" th:href="@{/css/ShoppingBagStyles.css}" rel="stylesheet" />

</head>
<body>
    <header>
        American Boutique
    </header>
    <nav id="nav">
        <a th:href="@{/home}">Home</a>
    </nav>
    <br>

    <div class="row" >
        <div class="col" style="text-align: center;">
            <p>FREE Standard Shipping on orders $150+</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <h3>Your Shopping Bag (<span th:text = "${totalInCart}"></span>)</h3>
        </div>
        <div class="col-3"></div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <div class="col" id="container" th:each = "i : ${shoppingBag}">
                <!-- Items Show Here -->
                <div id="product">
                    <div class="outer_row row">
                        <div class="col-3" id="cc1" rowspan="3"><img th:src = "${'./images/'+i.img}" alt="Product image"></div>
                        <div class="col-7">
                            <h4 th:text = "${i.productName}"></h4>
                            <h6 th:text = "${i.description}"></h6>
                            <div class="inner_row row" style="text-align: center">
                                <div class="col-3"><h6>Size</h6></div>
                                <div class="col-4"><h6>Color</h6></div>
                                <div class="col-5" th:if="${i.discount>0}"></div>
                            </div>
                            <div class="inner_row row" style="text-align: center">
                                <div class="col-3"><h6 th:text = "${i.size}"></h6></div>
                                <div class="col-4"><h6 th:text = "${i.color}"></h6></div>
                                <div class="col-5" style="color: #fc5b5b" th:if="${i.discount>0}"><h6 style="font-weight: bold;" th:text = "${#numbers.formatDecimal(i.discount,1,2)+'% OFF'}"></h6></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div th:if="${i.discount>0}">
                                <del><h6 style="text-align: right" th:text = "${'$'+i.price}"></h6></del>
                                <h6 style="text-align: right" th:text = "${'$'+#numbers.formatDecimal(((i.price)-((i.discount/100)*(i.price))),1,2)}"></h6>
                            </div>
                            <div th:unless="${i.discount>0}">
                                <h6 style="text-align: right" th:text = "${'$'+i.price}"></h6>
                                <br>
                            </div>
                            <br>
                            <a th:href="@{/shoppingCart/deleteItem(id=${i.id}, index=${shoppingBag})}">
                                <!-- <a th:href = "@{/orderProducts/{id}(id=${i.id})}"> -->
                                <button class="remove-btn">Remove</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-3" >

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="2"><h3>Order Summary</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td style="text-align: right" th:text="${'$'+#numbers.formatDecimal(totalPrice, 1, 2)}"></td>
                    </tr>
                    <tr>
                        <td style="color: rgb(201, 0, 0);">Discounts</td>
                        <td style="color: rgb(201, 0, 0);text-align: right" th:text="${'$'+#numbers.formatDecimal(totalDiscount, 1, 2)}"></td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td style="text-align: right" th:text="${'$'+#numbers.formatDecimal(shipping, 1, 2)}"></td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td style="text-align: right" th:text="${'$'+#numbers.formatDecimal(tax, 1, 2)}"></td>
                    </tr>
                    <tr>
                        <td><h5>Estimated Total</h5></td>
                        <td><h5 style="text-align: right" th:text="${'$'+#numbers.formatDecimal(estimatedTotal, 1, 2)}">$55.00</h5></td>
                    </tr>
                    </tbody>
                </table>
                <a th:href = "@{placeOrder}">
                    <button id="checkout" type="submit">CHECKOUT</button>
                </a>

        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"></div>
    </div>
</body>
</html>